
<section ng-if="calculationType.toString() === '1'">

    <table class="table">
        <tr>
            <th>Namn</th>
            <th>Bredd</th>
            <th>Höjd</th>
            <th>Antal</th>
            <th>Pris/:-</th>
            <th>Tillägg</th>
            <th>Övrigt</th>
            <th></th>
        </tr>
        <tr ng-repeat="(i, orderline) in selection.orderlines">
            <td>{{orderline.name}}<input type="hidden" name="Products[{{$index}}].id" value="{{orderline.id}}" /></td>
            <td><span>{{orderline.width}}</span></td>
            <td><span>{{orderline.height}}</span></td>
            <td><span>{{orderline.amount}}</span></td>
            <td><span>{{orderline.price}}</span></td>
            <td><section ng-repeat="addon in orderline.addons">{{addon.name}}:{{addon.price}} kr </section></td>
            <td><span>{{orderline.additionalInfo}}</span></td>
            <td><button type="button" ng-click="removeAField(i);" class="btn btn-danger btn-sm">Remove</button></td>
        </tr>
    </table>
</section>



<section ng-if="calculationType.toString() === '2'">

     <table class="table">
        <tr>
            <th>Namn</th>
            <th>Yta m<sup>2</sup></th>
            <th>Antal</th>
            <th>Pris</th>
            <th>Tillägg</th>
            <th>Övrigt</th>
            <th></th>
        </tr>
        <tr ng-repeat="(i, orderline) in selection.orderlines">
            <td>{{orderline.name}}<input type="hidden" name="Products[{{$index}}].id" value="{{orderline.id}}" /></td>
            <td><span>{{orderline.size}}</span></td>
            <td><span>{{orderline.amount}}</span></td>
            <td><span>{{orderline.price}}</span></td>
            <td><section ng-repeat="addon in orderline.addons">{{addon.name}}:{{addon.price}} kr </section></td>
            <td><span>{{orderline.additionalInfo}}</span></td>
            <td><button type="button" ng-click="removeAField(i);" class="btn btn-danger btn-sm">Remove</button></td>
        </tr>
    </table>
</section>



<section ng-if="calculationType.toString() === '3'">

    <table class="table">
        <tr>
            <th>Namn</th>
            <th>Antal</th>
            <th>Pris</th>
            <th>Tillägg</th>
            <th>Övrigt</th>
            <th></th>
        </tr>
        <tr ng-repeat="(i, orderline) in selection.orderlines">
            <td>{{orderline.name}}<input type="hidden" name="Products[{{$index}}].id" value="{{orderline.id}}" /></td>
            <td><span>{{orderline.amount}}</span></td>
            <td><span>{{orderline.price}}</span></td>
            <td><section ng-repeat="addon in orderline.addons">{{addon.name}}:{{addon.price}} kr </section></td>
            <td><span>{{orderline.additionalInfo}}</span></td>
            <td><button type="button" ng-click="removeAField(i);" class="btn btn-danger btn-sm">Remove</button></td>
        </tr>
    </table>
</section>