@model IEnumerable<ProductManager.Web.ViewModels.ProductCatagoryViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Product Categories over view</h2>

<section>
    <section ng-controller="CategoryController">
        <section class="row">
            <p class="col-md-12">
                @Html.ActionLink("Create a category", "Create", "Category", new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-primary" ng-click="AllowEdit()">{{AllowButtonText}}</button>
            </p>
        </section>
        <section class="row">
            <section class="col-md-12">
                <accordion close-others="oneAtATime">

                    @foreach (var category in Model)
                    {
                        <accordion-group  data-is-open="true">
                            <accordion-heading>
                                @category.CategoryName
                                <section class="pull-right btn-group-xs">
                                    <button class="btn btn-info" onclick="location.href = '/Category/Details?id=@category.CategoryId'" >Details</button>
                                    <button class="btn btn-info" onclick="location.href = '/Category/Edit?id=@category.CategoryId'">Edit</button>
                                    <button class="btn btn-danger" onclick="location.href = '/Category/Delete?categoryId=@category.CategoryId'" ng-show="showEdit">Delete</button>
                                </section>
                            </accordion-heading>

                            
                            @if (category.SubCategories.Any())
                            {
                                <ul>
                                    @foreach (var subcategory in category.SubCategories)
                                    {
                                        <li>@subcategory.Name ---- @subcategory.Description </li>
                                    }
                                </ul>
                            }

                        </accordion-group>
                    }

                </accordion>
            </section>
        </section>
    </section>
</section>









