
@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_AdminConfig.cshtml";
}

<h2>Configuration</h2>

@*<section class="row">
    <section class="col-md-12">
        <section class="btn-group btn-group-justified" role="group" aria-label="...">
            <section class="btn-group" role="group">
                @Html.ActionLink("Product Types", "Index", "ProductTypes", null, new { @class = "btn btn-info" })
            </section>
            <section class="btn-group" role="group">
                @Html.ActionLink("Addons", "Index", "Addons", null, new { @class = "btn btn-info" })
            </section>
            <section class="btn-group" role="group">
                @Html.ActionLink("Price Plan", "Index", "Priceplan", null, new { @class = "btn btn-info" })
            </section>
            <section class="btn-group" role="group">
                @Html.ActionLink("Company Profile", "Edit", "CustomerProfile", null, new { @class = "btn btn-info" })
            </section>
            <section class="btn-group" role="group">
                <a class="btn btn-info">Change Password</a>
            </section>
        </section>

    </section>
</section>*@

<section class="row">
    <section class="col-md-12">
        <article>
            <h4>Configure your system here, follow the order. </h4> 
            <p class="center_text"><img src="http://www.gadgetell.com/images/2007/02/under_construction.gif" /></p>
        </article>
        
    </section>
</section>
