
<section class="row">
    <section class="col-md-12 bg-primary"><b>Välja Produker</b></section>
</section>
<section class="row">
  
    <section class="col-sm-3">
        <label>Kategori</label>
        <select ng-model="selection.selectedCategory" class="form-control" data-ng-options="c.Id as c.Name for c in selection.categories" ng-change="UpdateSubCatagories()">
            <option value="">-- Välja en kategori --</option>
        </select>

    </section>



    <section class="col-sm-3">
        <label>Subkategori</label>
        <select ng-model="selection.selectedSubCategory" class="form-control" data-ng-options="c.Id as c.Name for c in selection.subcategories" ng-change="UpdateProducts()">
            <option value="">-- Välja en subkategori --</option>
        </select>
    </section>
    <section class="col-sm-3">
        <label>Produkt</label>
        <select ng-model="selection.selectedProduct" class="form-control" data-ng-options="c.Id as c.Name for c in selection.products" ng-change="SelectAProduct()">
            <option value="">-- Välja en Produkt --</option>
        </select>
    </section>

</section>

<section class="row">
    <price-calculation-type data-calculation-type="{{calculationType}}" ></price-calculation-type>
</section>

<section class="row margin_top_sm">
    <section class="col-md-12 bg-primary"><b>Tillägg</b></section>
    
    <section class="col-md-12">
        <section class="col-sm-3" ng-repeat="(i,addon) in productAddOns">
            <p>{{addon.Name}}</p>
            <section data-angular-switch data-view-model='addon' data-price="{{addon.Price}}" data-group-id="{{groupIndexId}}"></section>
        </section>
    </section>
</section>

<section class="row margin_top_sm">
    <section class="col-md-12">
        <p>Additional Info </p>
        <textarea class="form-control" cols="20" ng-model="selection.additionalInfo" rows="2"></textarea>
    </section>
    
    <section class="col-md-12 margin_top_sm ">
        <a class="btn btn-primary pull-right" ng-click="addFields(orderline)" ng-disabled="!selection.selectedProduct"> add a product</a>
    </section>
</section>





<section class="row" class="margin_top_sm">
    <section class="col-md-12">
        <order-line-display></order-line-display>
    </section>
</section>


