
<section ng-if="calculationType == 1" class="margin_top_sm">
    <section class="col-sm-3">
        <label>Width (cm):</label>
        <input ng-model="orderline.width" class="form-control" name="Width" type="number" min="0" step="1" />

    </section>
    <section class="col-sm-3">
        <label>Height (cm):</label>
        <input ng-model="orderline.height" class="form-control" name="Height" type="number" min="0" step="1" />

    </section>
    <section class="col-sm-3">
        <label>Amount (cm):</label>
        <input ng-model="orderline.amount" class="form-control" name="Amount" type="number" min="0" step="1" value="1" />

    </section>

</section>



<section ng-if="calculationType == 2" class="margin_top_sm">
    <section class="col-sm-3">
        <label>Square Meters:</label>
        <input ng-model="orderline.size" class="form-control" />

    </section>
    <section class="col-sm-3">
        <label>Amount:</label>
        <input ng-model="orderline.amount" class="form-control" />

    </section>
</section>




<section ng-if="calculationType == 3" class="margin_top_sm">

    <section class="col-sm-3">
        <label>Amount:</label>
        <input ng-model="orderline.amount" class="form-control" />

    </section>
</section>
