
<section ng-if="calculationType == 1">
    <section class="col-sm-3">
        <label>
            width:
            <input ng-model="orderline.width" class="form-control" name="Width" type="number" min="0" step="1" />
        </label>
    </section>
    <section class="col-sm-3">
        <label>
            Height:
            <input ng-model="orderline.height" class="form-control" name="Height" type="number" min="0" step="1" />
        </label>
    </section>
    <section class="col-sm-3">
        <label>
            Amount:
            <input ng-model="orderline.amount" class="form-control" name="Amount" type="number" min="0" step="1" value="1" />
        </label>
    </section>
    
    {{orderline}}
</section>



<section ng-if="calculationType == 2">
    <section class="col-sm-3">
        <label>
            Square Meters:
            <input class="form-control" />
        </label>
    </section>
    <section class="col-sm-3">
        <label>
            Amount:
            <input class="form-control" />
        </label>
    </section>
</section>




<section ng-if="calculationType == 3">

    <section class="col-sm-3">
        <label>
            Amount:
            <input class="form-control" />
        </label>
    </section>
</section>
