
<section ng-if="calculationType == 1" class="margin_top_sm">
    <section class="col-sm-3">
        <label>Bredd (cm):</label>
        <input ng-model="orderline.width" class="form-control" numbers-only="numbers-only" name="Width" type="text" min="0" step="1" data-numbers-only="numbers-only" />

    </section>
    <section class="col-sm-3">
        <label>Höjd (cm):</label>
        <input ng-model="orderline.height" class="form-control" numbers-only="numbers-only" name="Height" type="text" min="0" step="1" data-numbers-only="numbers-only" />

    </section>
    <section class="col-sm-3">
        <label>Antal:</label>
        <input ng-model="orderline.amount" class="form-control" numbers-only="numbers-only" name="Amount" type="text" min="0" step="1" value="1" data-numbers-only="numbers-only" />

    </section>

</section>



<section ng-if="calculationType == 2" class="margin_top_sm">
    <section class="col-sm-3">
        <label>m<sup>2</sup>:</label>
        <input ng-model="orderline.size" class="form-control" data-numbers-only="numbers-only" type="text"/>

    </section>
    <section class="col-sm-3">
        <label>Antal:</label>
        <input ng-model="orderline.amount" class="form-control" data-numbers-only="numbers-only" type="text" />

    </section>
</section>




<section ng-if="calculationType == 3" class="margin_top_sm">

    <section class="col-sm-3">
        <label>Antal:</label>
        <input ng-model="orderline.amount" class="form-control" data-numbers-only="numbers-only" type="text" />

    </section>
</section>
