@model ProductManager.Enity.SubCategory

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}
<h2>@Model.Name - all products</h2>



<section ng-controller="ProductListController" class="subcategory_detail_page">
    <input type="hidden" id="subCategoryId" value="@Model.Id"/>
    <section class="row">
        <section class="col-md-12">
            @Html.ActionLink("Add a product", "Create", "Product", new { subCategoryId = Model.Id }, new { @class = "btn btn-primary" })     
        </section>
       <hr/>
    </section>
    <section class="row">
        <section class="col-md-12">
            <table ng-table="tableParams" data-show-filter="false" class="table">
                <tr ng-repeat="product in $data">
                    <td data-title="'ProductType'" data-sortable="'ProductType'" filter="{ 'ProductType': 'text' }">
                        {{product.ProductType}}
                    </td>
                    <td data-title="'ProductCode'" data-sortable="'ProductCode'" filter="{ 'ProductCode': 'text' }">
                        {{product.ProductCode}}
                    </td>
                    <td data-title="'Name'" data-sortable="'Name'" filter="{ 'Name': 'text' }">
                        {{product.Name}}
                    </td>
                    <td data-title="'ColorName'" data-sortable="'ColorName'" filter="{ 'ColorName': 'text' }">
                        {{product.ColorName}}
                    </td>
                    <td data-title="'UnitPrice'" data-sortable="'UnitPrice'" filter="{ 'UnitPrice': 'text' }">
                        {{product.UnitPrice}}
                    </td>
                    <td>
        

                        <a href="/Product/Edit?subCategoryId=@Model.Id&productId={{product.Id}}" class="btn btn-primary"> Edit </a>
                        <a href="/Product/Delete?subCategoryId=@Model.Id&productId={{product.Id}}" class="btn btn-danger"> Delete </a>
                    </td>
                </tr>
            </table>

        </section>
    </section>

    <section class="row">
        <section class="col-md-12">
            @Html.ActionLink("Add a product", "Create", "Product", new { subCategoryId = Model.Id }, new { @class = "btn btn-primary" })
        </section>
    </section>
    


</section>

