@model IEnumerable<ProductManager.Web.ViewModels.ProductSubCatagoryViewMode>

@{
    ViewBag.Title = "Index";
}

<h2>Product Sub Categories overview</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <div>
                @item.SubCategoryName  - @item.SubCategoryDescription
               
            </div>
            <ul>
                @foreach (var product in item.Products)
                {
                    <li> @product.Name</li>
                }
            </ul>
        </li>

    }

</ul>