
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-danger">Sorry, you are not unauthorized to use this feature, ask ur boss to pay this damn feature for you.</h1>
